{% extends 'BikePartnerBundle::layout.html.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        编辑客服
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li>用户管理</li>
        <li><a href="{{ path('cs_staff') }}">客服</a></li>
        <li class="active">编辑</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">账号信息</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" id="new-staff-form">
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="box-body">
                <div class="callout callout-danger" style="display:none">
                  <h4>创建失败</h4>
                  <p></p>
                </div>
                <div class="form-group">
                  <label for="name">姓名</label>
                  <input type="text" class="form-control" value="{{ staff.getName() }}" id="name" name="name" placeholder="" required="required">
                </div>
                <div class="form-group">
                  <label for="username">用户名</label>
                  <input type="text" class="form-control" value="{{ passport.getUsername() }}" id="username" name="username" placeholder="" required="required">
                </div>
                <div class="form-group">
                  <label for="pwd">密码</label>
                  <input type="password" class="form-control" id="pwd" name="pwd" placeholder="不修改请留白" >
                </div>
                <div class="form-group">
                  <label for="repwd">确认密码</label>
                  <input type="password" class="form-control" id="repwd" name="repwd" placeholder="不修改请留白" >
                </div>
                <div class="form-group">
                  <label for="level">等级</label>
                  <select name="level" id="level" class="form-control select2" style="width: 100%;" required="required">
                      <option value="0">选择等级</option>
{% set levelMap = bike_parter_cs_staff_levelmap() %}
{% for key,name in levelMap %}
                      <option {% if key == staff.getLevel() %}selected="selected"{% endif %} value="{{ key }}">{{ name }}</option>
{% endfor %}
                  </select>
                </div>

                <div class="form-group" style="display:none;">
                  <label for="parent_id">上级客服</label>
                  <select name="parent_id" id="parent_id" class="form-control select2" style="width: 100%;" >
                      <option value="0">选择上级客服</option>
                  </select>
                </div>


              </div>
              <!-- /.box-body -->
    </div>
</div>

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block footer_js %}
{{ parent() }}
<script>
var level = '{{ staff.getLevel() }}';
var parentId = '{{ staff.getParentId() }}';
var ownId = '{{ staff.getId() }}';
$(function(){
    if (parentId > 0) {
      getParentStaff(level,parentId);
      $('#parent_id').trigger('change');
      $('#parent_id').parent().show();
    }

    $(".select2").select2();

    $('#level').on('change',function(){
        var level = $(this).val();
        $('#parent_id').val(0);
        $('#parent_id').trigger('change');
        if (level == 1 || level == 0) {
          $('#parent_id').parent().hide();
        } else {
          getParentStaff(level,0);
          $('#parent_id').parent().show();
        }
    });

    function getParentStaff(level,parentId)
    {
      var url = '{{ path('cs_staff_parent_staff') }}';
      $.post(url,{'level':level,'id':ownId},function(results){
            var json ;
            json = results.data;
            var str = '';
            for (var key in json) {
                str+='<option value="'+key+'">'+json[key]+'</option>';
            }
            $('#parent_id').html(str);
            if (parentId > 0) {
              $('#parent_id').val(parentId);  
            }
            

      },'json');
    }
    var $form = $('#new-staff-form');
    $form.submit(function(){
        var url = '{{ path('cs_staff_edit',{'id':staff.getId()}) }}';
        var data = $form.serializeArray();

        $form.find('button[type="submit"]').prop('disabled', true);
        $.post(url, data, function(result){
            if (result.errno == 0) {
                window.location.href = '{{ path('cs_staff') }}';
            } else {
                $form.find('.callout-danger').show().find('p').html(result.errmsg);
            }
            $form.find('button[type="submit"]').prop('disabled', false);
        });
        return false;
    });
});
</script>
{% endblock %}
