{% extends 'BikePartnerBundle::layout.html.twig' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        单车
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 首页</li>
        <li>车辆管理</li>
        <li class="active">单车</li>
      </ol>
    </section>


    <section class="content search-section" style="min-height:auto;">
      <div class="box" style="border:none;margin-bottom:0px;">
        <div class="box-body">
            <form method="get" id="search-form" class="form-inline">
              <input type="hidden" name="search" value="1">
              <div class="form-group col-xs-3">
                <label for="SN">车辆编号：</label>
                <input type="text" class="form-control" name="sn" value="{{ app.request.query.get('sn') }}"  id="SN" placeholder="请输入车辆编号">
              </div>
              <button type="submit" class="btn btn-primary">查询</button>
              
            </form>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">列表</h3>

              <div class="box-tools">
                <a href="{{ path('bike_new') }}" class="btn btn-sm btn-block btn-primary">新增</a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>单车编号</th>
                  <th>车锁编号</th>
                  <th>代理商</th>
                  <th>委托人</th>
                  <th>操作</th>
                </tr>
{% for v in list.bike %}
                <tr>
                  <td>{{ v.getSn() }}</td>
                  <td>{{ v.getBikeSn() }}</td>
                  <td>
{% if map.agent[v.getAgentId()] is defined %}
{{ map.agent[v.getAgentId()].getName() }}
{% else %}
无
{% endif %}
                  </td> 
                  <td>
{% if map.client[v.getClientId()] is defined %}
{{ map.client[v.getClientId()].getName() }}
{% else %}
无
{% endif %}
                  </td> 
                  <td>
{% if v.getClientId() > 0 %}
                      <a title="取消分配" data-toggle="modal" data-name="{{ v.getSn() }}" data-target="#delete-modal" data-id="{{ v.getSn() }}"><i class="fa fa-fw fa-reply"></i></a>
{% else %}
                    <a title="分配车辆" data-toggle="modal" data-target=".bs-example-modal-lg" data-id="{{ v.getSn() }}"><i class="fa fa-fw fa-bicycle"></i></a>
{% endif %}
                  </td>
                </tr>
{% endfor %}
              </tbody></table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
{% import 'BikePartnerBundle::paginator.macro.twig' as paginator %}
{{ paginator.paginate(page, totalPage, 5, 'bike', app.request.query.all(), ['pull-right']) }}
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>


    <!-- 分配车辆modal -->
    <div class="modal fade bs-example-modal-lg" id="bind-modal" tabindex="-1" role="dialog" aria-labelledby="bind-card-modal-label" style="margin-top:100px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bind-card-modal-label">分配车辆</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-danger modal-error">
              <div class="panel-heading"> 
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span>出错啦</span>
                </h3> 
              </div> 
              <div class="panel-body"> 
              </div> 
            </div>
            <div class="modal-info">
                <div class="form-group">
                    <label for="bind-bike">用户名</label>
                    <input id="bind-bike" name="username" class="form-control" placeholder="请输入委托人用户名"/> 
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" name="confirm">分配</button>
          </div>
        </div>
      </div>
    </div>    

    <!-- 取消分配modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" style="margin-top:100px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="delete-modal-label">取消分配</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-danger modal-error">
              <div class="panel-heading"> 
                <h3 class="panel-title">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span>出错啦</span>
                </h3> 
              </div> 
              <div class="panel-body"> 
              </div> 
            </div>
            <div class="alert alert-danger modal-info">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" name="confirm">确定</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    window.onload = function(){

      /***  取消分配 >>**/
      var $deleteModal = $('#delete-modal');
      $deleteModal.on('show.bs.modal', function (e) {
          $deleteModal.find('button[name="confirm"]').data('id', $(e.relatedTarget).data('id'));
          $deleteModal.find('.modal-error').hide();
          $deleteModal.find('.modal-info').html('确认取消分配车辆"'+$(e.relatedTarget).data('name')+'"');
      });

      $deleteModal.find('button[name="confirm"]').click(function(){
          var url = '{{ path('bike_unbind') }}';
          var data = {
              sn: $deleteModal.find('button[name="confirm"]').data('id')
          };

          $deleteModal.find('button[name="confirm"]').prop('disabled', true);
          $.post(url, data, function(result){
              if (result.errno === 0) {
                  window.location.reload();
              } else {
                  $deleteModal.find('.modal-error .panel-body').html(result.errmsg);
                  $deleteModal.find('.modal-error').show();
              }
              $deleteModal.find('button[name="confirm"]').prop('disabled', false);
          }, 'json'); 
      });
      /**<<<<取消分配 END **/


      /**分配 》》》***/
      var $bindModal = $('#bind-modal');
      $bindModal.on('show.bs.modal', function (e) {
          $bindModal.find('button[name="confirm"]').data('id', $(e.relatedTarget).data('id'));
          $bindModal.find('.modal-error').hide();
      });

      $bindModal.find('button[name="confirm"]').click(function(){ 
          var url = '{{ path('bike_bind') }}';
          var data = {
              sn: $bindModal.find('button[name="confirm"]').data('id'),
              username: $bindModal.find('input[name="username"]').val()
          };

          $bindModal.find('button[name="confirm"]').prop('disabled', true);
          $.post(url, data, function(result){
              if (result.errno === 0) {
                  window.location.reload();
              } else {
                  $bindModal.find('.modal-error .panel-body').html(result.errmsg);
                  $bindModal.find('.modal-error').show();
              }
              $bindModal.find('button[name="confirm"]').prop('disabled', false);
          }, 'json'); 
      });
      /*** 《《《分配 END***/


    }


    </script>
{% endblock %}
